@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");

section {
  display: flex;
  padding: 10px 30px 10px;
  align-items: center;
  justify-content: space-around;
  font-family: "Mulish";
  font-size: 12px;
  margin-bottom: 8px;
}

.nav-item-user {
  text-decoration: none;
  color: #ccc;
}

.nav-item-company {
  text-decoration: none;
  color: #ccc;
}

section a.selected {
  color: #01687f;
  text-decoration: underline;
  font-size: 20px;
}

section.loginregister {
  color: #01687f;
  text-decoration: underline;
  font-size: 20px;
}

.error {
  color: red;
  font-weight: bold;
}

form {
  margin-bottom: 3rem;
}
